.myCard{
   padding: 40px 0;
   background-color: $pf-grey;
   margin: 0 0 5% 0;
   border-radius: 5px;
   &__sidebar{
       background-color: $pf-grey;
       &--text{
        background-color: $pf-grey;
        text-decoration: underline $pf-gold;
        margin-left: 10px;
       }
   }
   &__image {
       background-color: $pf-grey;
   } img{
      background-color: $pf-grey;
   }
   &__textbox{
       background-color: $pf-grey;
       margin: 50px 10px;
       &--heading{
           background-color: $pf-grey;
       }
       &--text{
           background-color: $pf-grey;
           padding-left: 10px;
       }
   }
}


