@media (min-width: 576px){
.myCard{
    min-width: 550px;
    max-width: 550px;
}
}

@media (min-width: 768px){
.myCard{
    min-width: 700px;
    max-width: 700px;
}
} 

@media (min-width: 992px){
.myCard{
    min-width: 930px;
    max-width: 930px;
}
} 

@media (min-width: 1200px){
.myCard{
    min-width: 1100px;
    max-width: 1100px;
}
} 
