@media (min-width: 576px){
.myCard{
    min-width: 550px;
    max-width: 550px;
}
}

@media (min-width: 768px){
.myCard{
    min-width: 720px;
    max-width: 720px;
}
} 


@media (min-width: 992px){
.myCard{
    min-width: 930px;
    max-width: 930px;
}
} 
