//Website color variables 

$pf-black: #080808;
$pf-snowwhite: #fffafa;
$pf-dirytwhite: rgba(255, 255, 255, 0.5); 
$pf-grey:#262626; 
// $pf-gold: #AD974F; 
// $pf-gold: #FBC403; 
$pf-gold: #D5932A; 

